/* выбрал все абзацы с классом .bbb и задал красный цвет */
/* p.bbb {
	color: red;
} */

/* выбрал все элементы с классом .bbb, находящиеся внутри абзацев. */
/* p .bbb {
	color: red;
} */

/* выбрал класс .eee и выбрал затем абзацы с классом .bbb  и установил красный цвет */
/* .eee p.bbb {
	color: red;
} */

/*  выбрал все элементы с классом .eee, установил красный цвет элементам находящиеся под классом .bbb .*/
/* .eee p .bbb {
	color: red;
} */