
/* Link (не посещённая): Состояние по умолчанию, в котором находится ссылка, когда она не находится в каком-либо другом состоянии. Она может быть специфически стилизована используя псевдокласс :link  */
/* a:link{
	color: blue;
} */


/* visited — состояние, в которое переходит ссылка после ее активации. hover — состояние, когда указатель мыши наведен на ссылку. active — состояние, возникающее при щелчке на ссылке для ее активизации. */
/* a:visited{
	color: green;
} */

/* :hover срабатывает, когда пользователь наводит на элемент курсор мыши. Обычно это состояние заключается в изменении цвета фона background-color и/или текста color . Различия не обязательно должны быть очевидными, потому что пользователи и так знают, что навели курсор на какой-то элемент */
/* a:hover{
	color: red;
	text-decoration: none; }   */
	/* отменил подчеркивание */


	/* Псевдокласс :active определяет стиль активного элемента. Это такое состояние элемента, которое происходит между щелчком и отпусканием клавиши мыши. В основном применяется к ссылкам и кнопкам, но ими не ограничен. */

/* a:active {
	color: #000;
} */


/* Сделайте все ссылки во всех состояниях голубыми и неподчеркнутыми, а в состоянии :hover - красными и подчеркнутыми. */
a {
	color: blue;
	text-decoration: none;}
	/* сделал текст неподчеркнутым */
a:hover{
	color: red;
	text-decoration: underline;} 
	/* сделал текст подчеркнутым */
