/* .eee i {
	color: red;
} */
/* div.eee i{
	color: red;
} */

/* обращаюсь к классу .bbb и задаю ему красный цвет */
/* .eee .bbb {
	color: red;
} */

/* обращаюсь к заголовку h2 и задаю ему красный цвет */
/* .eee h2 {
	color: red;
} */

/* общращаюсь к классу .eee затем к h2 с классом .bbb и устанавливаю красный цвет */
/* .eee h2.bbb {
	color: red;
} */

/* обращаюсь к классу .еее, затем к h3 с классом .bbb и устанавливаю красный цвет */
/* .eee h3.bbb {
	color: red;
} */

/* обращаюсь к классу .еее, затем к p с классом .bbb и уста-ваю красный цвет */
/* .eee p.bbb {
	color: red;
} */

/* обращаюсь к классу .eee, затем к классу .bbb, потом к классу .kkk и задаю ему красный цвет */
.eee .bbb .kkk {
	color: red;
}