/*Напишите селектор, который выберет все абзацы с атрибутом title, который равен 'привет'.
 p[title=привет] {
	color: blue;
} */

/* Напишите селектор, который выберет все ссылки с атрибутом href, значение которого начинается на 'http://'.
 a[href="http://"] {
	color: yellow;
}

a[href="http://yandex.com"]
{ color: greenyellow;}

a[href="http://ok.com"] {
	color: darkgoldenrod;
} */


/* Напишите селектор, который выберет все ссылки с атрибутом href, значение которого заканчивается на '.html'. */
 
/* a[href=".html"] {
	color: green;
}  */

/* Напишите селектор, который выберет все абзацы с атрибутом title, в значении которого есть слово 'привет'. */

/* p[title^="привет"] {
	color: red;
} */

/* Напишите селектор, который выберет все абзацы с классом, который начинается на 'top-'. */
/* 
[class~="top-1"] {
	color: blueviolet;
} */