/* обратились к первому h2
h2:first-of-type{
color: aqua;
} */

/* обратились к последнюю абзацу(p)
 p:last-of-type{
	color: blue;
} */


							/* Псевдокласс nth-of-type выбирает элемент, который является n-ным потомком заданного типа.
							То есть, если я напишу h2:nth-of-type(4) - найдется 4-тый h2 в родителе (в отличии от nth-child, который найдет только тот h2, который является 4-тым элементов в родителе). */

/* Найдем h2, который является 2-ым h2 в родителе: */
/* h2:nth-of-type(4){
	color: brown;
} */

/*Найдем все четные h2: 
h2:nth-of-type(even){
	color: blueviolet;
} */


/* Найдем все нечетные h2:
h2:nth-of-type(odd){
	color: chartreuse;
} */



							/* Псевдокласс nth-last-of-type выбирает элемент, который является n-ным потомком родителя заданного типа, отсчитывая с конца. Ведет себя аналогично nth-of-type, только отсчет ведется с конца. */

/* Найдем h2, который является 2-ым h2 в родителе с конца: */
/* h2:nth-last-of-type(2){
	color: cadetblue;
} */



/* Найдем все четные h2 с конца: 
h2:nth-last-of-type(even){
	color: cornsilk;
} */

/* Найдем все нечетные h2 с конца:
h2:nth-last-of-type(odd){
	color: blueviolet;
} */

							/* Псевдокласс only-of-type выбирает элемент, который является единственным потомком заданного типа. *

							/* Покрасим заголовок h2 в красный цвет, если он является единственным h2 в своем родителе: */
/* 
h2:only-of-type{
	color: forestgreen;
} */

div {
	border: 1px dashed black;
	padding: 15px;
	margin-bottom: 10px;
}
h2:only-of-type {
	color: red;
}